ul.subnav.collapsed li:first-child {
	display: block;
}

ul.subnav.collapsed li {
	display: none;
}

.wy-menu-vertical .subnav a.collapse-control {
	display: block;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: -0.75em;
	font-weight: bold;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

.subnav {
	border-bottom: 1px dashed #666;
}

.wy-menu-vertical .subnav a.collapse-control:hover {
	background-color: transparent;
}

a.collapse-control span {
	display: inline;
	width: 1.2em;
	overflow: hidden;
}

a.collapse-control.collapsed span.expanded {
	display: none;
}

a.collapse-control.collapsed span.collapsed {
	display: inline;
}

a.collapse-control span.collapsed {
	display: none;
}
